

/* basic elements */
html {
    margin: 0;
    padding: 0;
}
body { 
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    color: #e4f1d7;
    background: #fff url(blossoms.jpg) no-repeat bottom right;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
p { 
    margin-top: 0;
    text-align: justify;
}
h3 { 
    font: italic normal 1.4em georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #7D775C;
}
a:link { 
    font-weight: bold;
    text-decoration: none;
    color: #B7A5DF;
}
a:visited { 
    font-weight: bold;
    text-decoration: none;
    color: #D4CDDC;
}
a:hover, a:active { 
    text-decoration: underline;
    color: #9685BA;
}

/* specific divs */
#o3d {
    float: left;
}
#matter {
    float: right;
}
#instructions {
    clear: left;
}


#matter-list .ui-selecting {
    background: #FECA40;
}
#matter-list .ui-selected {
    background: #D4CDDC;
    color: white;
}
#matter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
    float: right;
}
#matter-list li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}

